.achievements {
  display: flex;
  width: 100%;
  gap: 20px;
  // justify-content: center;
  align-items: center;
  background-color: #f1faee;
  padding-bottom: 150px;
  // border-bottom: 1px solid rgb(49, 49, 49);
  // border-top: 1px solid rgb(49, 49, 49);

  div:last-child {
    border: none;
  }
  div {
    border-right: 1px dotted rgb(0, 0, 0, 0.5);
    padding: 0 50px;

    p {
      text-align: center;
      // font-family: "Poppins", sans-serif;
    }
    p:first-child {
      font-size: calc(1.425rem + 2.1vw);
      font-weight: 600;
      // color: rgb(255, 255, 255, 0.5);
      color: rgb(33, 37, 41);
    }
    p:last-child {
      font-size: 1.3rem;
      font-weight: 500;
      color: rgb(33, 37, 41);
      // color: #dee3e4;
    }
  }
}
