<div id="container">
  <p class="under">GALLERY</p>
  <p class="over">Gallery</p>
  <div class="gallery">
    <div class="gal">
      <div class="img-small">
        <img src="images/dark6.jpg" alt="" />
        <p>{{ notes[0].details }}</p>
        <span></span>
      </div>
      <div class="img-small">
        <img src="images/dark6.jpg" alt="" />
        <p>{{ notes[1].details }}</p>
        <span></span>
      </div>
      <div class="img-big">
        <img src="images/dark7.jpg" alt="" />
        <p>{{ notes[2].details }}</p>
        <span></span>
      </div>
    </div>
    <div class="gal">
      <div class="img-big">
        <img src="images/dark7.jpg" alt="" />
        <p>{{ notes[3].details }}</p>
        <span></span>
      </div>
      <div class="img-small">
        <img src="images/dark6.jpg" alt="" />
        <p>{{ notes[0].details }}</p>
        <span></span>
      </div>
      <div class="img-small">
        <img src="images/dark6.jpg" alt="" />
        <p>{{ notes[0].details }}</p>
        <span></span>
      </div>
    </div>
    <div class="gal">
      <div class="img-small">
        <img src="images/dark6.jpg" alt="" />
        <p>{{ notes[1].details }}</p>
        <span></span>
      </div>
      <div class="img-big">
        <img src="images/dark7.jpg" alt="" />
        <p>{{ notes[2].details }}</p>
        <span></span>
      </div>
      <div class="img-small">
        <img src="images/dark6.jpg" alt="" />
        <p>{{ notes[3].details }}</p>
        <span></span>
      </div>
    </div>
  </div>
  <div class="read-more">
    <a>View more </a>
    <span class="span"></span>
  </div>
</div>
