<div id="container">
  <p class="under">GALLERY</p>
  <p class="over">Gallery</p>
  <div class="gallery">
    <div class="gal">
      <div class="img-small">
        <img src="images/IMGS/1725016588556.jpg" alt="" />
        <p>{{ notes[0].details }}</p>
        <span></span>
      </div>
      <div class="img-small">
        <img src="images/IMGS/78f1938c7c29fbab23e26643785abe84_XL.jpg" alt="" />
        <p>{{ notes[1].details }}</p>
        <span></span>
      </div>
      <div class="img-big">
        <img src="images/IMGS/1725016291511.jpg" alt="" />
        <p>{{ notes[2].details }}</p>
        <span></span>
      </div>
    </div>
    <div class="gal">
      <div class="img-big">
        <img src="images/IMGS/1725016197510.jpg" alt="" />
        <p>{{ notes[3].details }}</p>
        <span></span>
      </div>
      <div class="img-small">
        <img src="images/IMGS/1725016610729.jpg" alt="" />
        <p>{{ notes[0].details }}</p>
        <span></span>
      </div>
      <div class="img-small">
        <img src="images/IMGS/1725016410404.jpg" alt="" />
        <p>{{ notes[0].details }}</p>
        <span></span>
      </div>
    </div>
    <div class="gal">
      <div class="img-small">
        <img src="images/IMGS/972343b4952d1d3547391031bb810d9e_XL.jpg" alt="" />
        <p>{{ notes[1].details }}</p>
        <span></span>
      </div>
      <div class="img-big">
        <img src="images/IMGS/1725016315171.jpg" alt="" />
        <p>{{ notes[2].details }}</p>
        <span></span>
      </div>
      <div class="img-small">
        <img src="images/IMGS/1725016267243.jpg" alt="" />
        <p>{{ notes[3].details }}</p>
        <span></span>
      </div>
    </div>
  </div>
  <div class="read-more">
    <a>View more </a>
    <span class="span"></span>
  </div>
</div>
