<swiper-container class="mySwiper" autoplay-delay="4500" centered-slides="true">
  <swiper-slide>
    <span></span>
    <img src="images/gallery-images/gallery7.JPG" alt="" />
    <div>
      <p class="para1">Picture Title 1</p>
      <p class="para2">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit repellat
        at veritatis omnis voluptas dolorum! Blanditiis,
      </p>
    </div>
  </swiper-slide>
  <swiper-slide>
    <span></span>
    <img src="images/gallery-images/gallery10.JPG" alt="" />
    <div>
      <p class="para1">Picture Title 2</p>
      <p class="para2">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit repellat
        at veritatis omnis voluptas dolorum! Blanditiis,
      </p>
    </div></swiper-slide
  >
  <swiper-slide>
    <span></span>
    <img src="images/gallery-images/gallery13.JPG" alt="" />
    <div>
      <p class="para1">Picture Title 3</p>
      <p class="para2">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit repellat
        at veritatis omnis voluptas dolorum! Blanditiis,
      </p>
    </div>
  </swiper-slide>
  <swiper-slide>
    <span></span>
    <img src="images/gallery-images/gallery9.JPG" alt="" />
    <div>
      <p class="para1">Picture Title 4</p>
      <p class="para2">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit repellat
        at veritatis omnis voluptas dolorum! Blanditiis,
      </p>
    </div></swiper-slide
  >
  <swiper-slide>
    <span></span>
    <img src="images/dark5.jpg" alt="" />
    <div>
      <p class="para1">Picture Title 5</p>
      <p class="para2">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit repellat
        at veritatis omnis voluptas dolorum! Blanditiis,
      </p>
    </div>
  </swiper-slide>
</swiper-container>
