<swiper-container class="mySwiper" autoplay-delay="4500" centered-slides="true">
  <swiper-slide>
    <span></span>
    <img src="images/dark6.jpg" alt="" />
    <div class="absolute w-6/12 h-fit bottom-10 left-6 z-60">
      <p
        class="para1 text-white text-7xl font-semibold text-left mb-2 translate-y-8 opacity-0"
      >
        Picture Title 1
      </p>
      <p class="para2 text-white text-left text-xl translate-y-8 opacity-0">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit repellat
        at veritatis omnis voluptas dolorum! Blanditiis,
      </p>
    </div>
  </swiper-slide>
  <swiper-slide>
    <span></span>
    <img src="images/dark7.jpg" alt="" />
    <div class="absolute w-6/12 h-fit bottom-10 left-6 z-60">
      <p
        class="para1 text-white text-7xl font-semibold text-left mb-2 translate-y-8 opacity-0"
      >
        Picture Title 2
      </p>
      <p class="para2 text-white text-left text-xl translate-y-8 opacity-0">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit repellat
        at veritatis omnis voluptas dolorum! Blanditiis,
      </p>
    </div></swiper-slide
  >
  <swiper-slide>
    <span></span>
    <img src="images/dark8.jpg" alt="" />
    <div class="absolute w-6/12 h-fit bottom-10 left-6 z-60">
      <p
        class="para1 text-white text-7xl font-semibold text-left mb-2 animate-slide-in3 translate-y-8 opacity-0"
      >
        Picture Title 3
      </p>
      <p
        class="para2 text-white text-left text-xl animate-slide-follow3 translate-y-8 opacity-0"
      >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit repellat
        at veritatis omnis voluptas dolorum! Blanditiis,
      </p>
    </div>
  </swiper-slide>
  <swiper-slide>
    <span></span>
    <img src="images/dark9.jpg" alt="" />
    <div class="absolute w-6/12 h-fit bottom-10 left-6 z-60">
      <p
        class="para1 text-white text-7xl font-semibold text-left mb-2 animate-slide-in3 translate-y-8 opacity-0"
      >
        Picture Title 4
      </p>
      <p
        class="para2 text-white text-left text-xl animate-slide-follow3 translate-y-8 opacity-0"
      >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit repellat
        at veritatis omnis voluptas dolorum! Blanditiis,
      </p>
    </div></swiper-slide
  >
  <swiper-slide>
    <span></span>
    <img src="images/dark5.jpg" alt="" />
    <div class="absolute w-6/12 h-fit bottom-10 left-6 z-60">
      <p
        class="para1 text-white text-7xl font-semibold text-left mb-2 animate-slide-in3 translate-y-8 opacity-0"
      >
        Picture Title 5
      </p>
      <p
        class="para2 text-white text-left text-xl animate-slide-follow3 translate-y-8 opacity-0"
      >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit repellat
        at veritatis omnis voluptas dolorum! Blanditiis,
      </p>
    </div>
  </swiper-slide>
</swiper-container>

<app-main-hero></app-main-hero>
