<div id="container">
  <div class="box">
    <div class="left">
      <section class="publications">
        <p class="head">Publications</p>
        <div>
          <p class="big"></p>
          <p class="small"></p>
        </div>
        <div>
          <p class="big"></p>
          <p class="small"></p>
        </div>
        <div>
          <p class="big"></p>
          <p class="small"></p>
        </div>
        <div>
          <p class="big"></p>
          <p class="small"></p>
        </div>
      </section>
    </div>
    <div class="right">
      <p>Olukoya Ogen</p>
      <a href="">Biography</a>
      <a href="">Publications</a>
      <a href="">Series $ Journals</a>
    </div>
  </div>
</div>
