<div
  class="divvd absolute top-0 left-0 flex justify-center items-center px-10 w-full h-16 z-30 pr-16"
>
  <nav class="flex items-center gap-12 text-lg text-white">
    <a
      routerLink="/home"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhileActive="page"
      class="cursor-pointer"
      >Home</a
    >
    <a
      routerLink="/achievement"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhileActive="page"
      class="cursor-pointer"
      >Achievements</a
    >
    <a
      routerLink="/about"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhileActive="page"
      class="cursor-pointer"
      >About</a
    >
    <a
      routerLink="/contact"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhileActive="page"
      class="cursor-pointer"
      >Contact</a
    >
  </nav>
</div>
