<div class="divvd" id="header" [class.fixed]="isSticky">
  <div class="name">
    <h1 class="title">Professor Olukoya Ogen</h1>
  </div>
  <nav>
    <a
      routerLink="/home"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhileActive="page"
      class="cursor-pointer"
      >Home</a
    >
    <a
      routerLink="/achievement"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhileActive="page"
      class="cursor-pointer"
      >Achievements</a
    >
    <a
      routerLink="/about"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhileActive="page"
      class="cursor-pointer"
      >About</a
    >
    <a
      routerLink="/contact"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhileActive="page"
      class="cursor-pointer"
      >Publications</a
    >
    <a
      routerLink="/news"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhileActive="page"
      class="cursor-pointer"
      >News & Info</a
    >
    <a
      routerLink="/gallery"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhileActive="page"
      class="cursor-pointer"
      >Gallery</a
    >
  </nav>
</div>
