#container {
  height: 70vh;
  width: 100%;

  .profile-details {
    width: 90%;
    height: fit-content;
  }
}
.socials {
  div {
    @apply border-2 px-2 rounded-md cursor-pointer hover:bg-white hover:text-my-black transition-colors duration-300 w-9 flex justify-center items-center;
  }
}
.gradient-border {
  border-color: #4361ee;
}
