<div id="container" class="bg-my-black flex items-center justify-center">
  <div class="profile-details">
    <p class="text-6xl mb-3 text-white">Welcome to My Website</p>
    <p class="text-lg text-white">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio est labore
      eaque expedita repellendus, odit quaerat voluptas aliquid neque? Rerum
      iusto ea id facilis quae consequuntur quibusdam maiores mollitia
      excepturi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
      est labore eaque expedita repellendus, odit quaerat voluptas aliquid
      neque?
    </p>
    <button
      class="gradient-border px-5 py-2 mt-4 border border-2 bg-transparent rounded text-white"
    >
      <a routerLink="/about" ariaCurrentWhileActive="page">About Me</a>
    </button>
    <div class="socials flex gap-4 text-white mt-6">
      <div class="facebook">
        <i class="fa-brands fa-facebook-f text-xl"></i>
      </div>
      <div class="instagram">
        <i class="fa-brands fa-instagram text-xl"></i>
      </div>
      <div class="linkedIn">
        <i class="fa-brands fa-linkedin-in text-xl"></i>
      </div>
      <div class="twitter">
        <i class="fa-brands fa-twitter text-xl"></i>
      </div>
    </div>
  </div>
</div>
