<p class="latest">LATEST HEADLINES</p>
<div class="news">
  <p class="date">16 August 2024</p>
  <p class="title">
    UNIOSUN Felicitates Prof. Olukoya Ogen on His Induction as Fellow
  </p>
</div>
<div class="news">
  <p class="date">16 August 2024</p>
  <p class="title">
    UNIOSUN Felicitates Prof. Olukoya Ogen on His Induction as Fellow
  </p>
</div>
<div class="news">
  <p class="date">16 August 2024</p>
  <p class="title">
    UNIOSUN Felicitates Prof. Olukoya Ogen on His Induction as Fellow
  </p>
</div>
<div class="news">
  <p class="date">16 August 2024</p>
  <p class="title">
    UNIOSUN Felicitates Prof. Olukoya Ogen on His Induction as Fellow
  </p>
</div>
<div class="news">
  <p class="date">16 August 2024</p>
  <p class="title">
    UNIOSUN Felicitates Prof. Olukoya Ogen on His Induction as Fellow
  </p>
</div>
<div class="news">
  <p class="date">16 August 2024</p>
  <p class="title">
    UNIOSUN Felicitates Prof. Olukoya Ogen on His Induction as Fellow
  </p>
</div>
