p {
  // color: white;
}

.latest {
  font-size: 24px;
  margin-bottom: 34px;
}
.news {
  display: flex;
  flex-direction: column-reverse;
}
.title {
  font-size: 20px;
  line-height: 24px;
  margin: 20px 0 0;
}
.date {
  font-size: 12px;
}
