@tailwind base;
@tailwind components;
@tailwind utilities;

$font: "Poppins", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}
body {
  background-color: #f1faee;
}
#header .title {
  font-family: "Jacques Francois Shadow", sans-serif;
}
